.header {
  text-align: center;
}

body {
  background: #f2f2f2;
  padding-top: 20px;
}

.form-container {
  border-radius: 20px;
  background: white;
  padding: 50px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  box-shadow: rgb(179, 179, 179) 0px 0px 10px;
  align-items: center;
}

.btn {
  background: #000264;
  color: white;
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 100px;
}

.icon-link-hover {
  color: #000264;
  text-decoration-color: #000264;
}

.navbar {
  height: 80px;
  padding: 0 30px;
  border-radius: 20px;
  width: 95%;
  margin: 0 auto;
  box-shadow: rgb(179, 179, 179) 0px 0px 10px;
}

.nav-container {
  display: flex;
}

.form-select {
  width: 40%;
  margin-right: 30px;
}

.form-control {
  width: 275px;
}

.search-btn {
  margin-right: 30px;
}

.navbar-brand {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.icon-link.nav {
  color: white;
  text-decoration-color: white;
}

#searchInput {
  margin-right: 30px;
}

.container-of-piece {
  display: flex;
  width: 85%;
  background-color: white;
  border-radius: 20px;
  padding: 22px;
  flex-direction: row;
  margin-top: 30px;
  transition: 0.1s;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  min-height: 200px;
  box-shadow: rgb(179, 179, 179) 0px 0px 10px;
}

.container-of-news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-of-piece:hover {
  transform: scale(1.01);
}

.content-of-piece {
  display: flex;
  max-width: 75%;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}

.image-of-piece {
  width: 250px;
  border-radius: 10px;
  height: 150px;
}

::-webkit-scrollbar {
  width: 0px;
}
